<div class="aggregation media">
    <div class="pull-left">
            <img src="<%= activities_aggregated.activities[0].object.user.avatar_url %>" width="55px">
    </div>
    <div class="media-body">
        <div class="media-heading">
            <div class="aggregation-header">
                <div class="aggregation-time pull-right">
                </div>
                <div class="aggregation-title">
                    <span><%= activities_aggregated.activities.length %> follows</span>
                </div>
            </div>
        </div>
        <% activities_aggregated.activities.forEach(function(activity){ %>
            <% if (activity.object.target) { %>
			<article class="pin">
			    <figure>
			        <div class="pin-image-holder">
			            <img class="pin-image" src="<%= activity.object.target.avatar_url %>">
			            <figcaption class="follow-caption">
			                <%= activity.actor.username %> followed <%= activity.object.target.username %>
			            </figcaption>
			        </div>
			    </figure>
			    <footer class="pin-attribution">
                    by <a href="/profile/<%= activity.actor.username %>"><%= activity.object.user.username %></a>
                    <span class="timesince"><%= activity.time %></span>
                </footer>
			</article>
            <% } else { %>
                <% console.log('Not enriched activity: ', activity); %>
            <% } %>
        <% }) %>
    </div>
</div>