<% if (activity.object.target) { %>
<article class="pin">
    <figure>
        <div class="pin-image-holder">
        	<img class="pin-image" src="<%= activity.object.target.avatar_url %>">
        </div>
        <figcaption class="follow-caption">
            <%= activity.actor.username %> followed <%= activity.object.target.username %>
        </figcaption>
    </figure>
    <footer class="pin-attribution">
        by <a href="/profile/<%= activity.actor.username %>"><%= activity.actor.username %></a>
        <span class="timesince"><%= activity.time %></span>
    </footer>
</article>
<% } else { %>
    <% console.log('Not enriched activity: ', activity); %>
<% } %>