<article class="pin">
    <figure>
        <div class="pin-image-holder">
        	<img class="pin-image" src="<%= activity.target.avatar_url %>">
        </div>
        <figcaption class="follow-caption">
            <%= activity.user.username %> followed <%= activity.target.username %>
        </figcaption>
    </figure>
    <footer class="pin-attribution">
        by <a href="/profile/<%= activity.user.username %>"><%= activity.user.username %></a>
    </footer>
</article>