<% if (activity.object.item) { %>
<article class="pin">
    <figure>
        <div class="pin-image-holder">
            <img class="pin-image" src="/media/<%= activity.object.item.image_url %>">
        </div>
        <%if (activity.message) {%>
            <figcaption class="pin-caption">
                <%= activity.message %>
            </figcaption>
        <% } %>
    </figure>
    <form class="pin-bottom create-destroy" method="POST" action="/pin">
        <div class="media">
        <%if (! activity.object.item.pinned) {%>
            <div class="pull-left">
                <input class="btn btn-danger btn-sm" type="submit" value="Unpin" data-toggle="Pin">
            </div>
            <input name="remove" type="hidden" value="1">
            <input type="hidden" name="_method" value="DELETE">
        <% } else{ %>
            <div class="pull-left">
                <input class="btn btn-primary btn-sm" type="submit" value="Pin" data-toggle="Unpin">
            </div>
        <% } %>
            <div class="media-body">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon text-muted">in</span>
                    <input class="form-control" name="board_name" placeholder="Board name" type="text" value="My favourite things">
                </div>
            </div>
        </div>
        <input name="influencer" type="hidden" value="<%= activity.object.item.image_url %>">
        <input name="item" type="hidden" value="<%= activity.object.item._id %>">
    </form>
    <footer class="pin-attribution">
        by <a href="/profile/<%= activity.object.user.username %>"><%= activity.object.user.username %></a>
        <span class="timesince"><%= activity.time %></span>
    </footer>
</article>
<% } else { %>
    <% console.log('Not enriched activity: ', activity); %>
<% } %>