<div id="wrapper">
    <div class="col-lg-4">
            <img width='45' height='45' title='' alt='' src='<%= profile_user.avatar_url %>'>
        <h2><a href="/profile/<%= profile_user.username %>"><%= profile_user.username %></a></h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <%if (!show_feed) {%>
        <form method="POST" action="/follow" class="create-destroy">
            <%if (profile_user.followed) {%>
                <input name="remove" type="hidden" value="1">
                <input type="hidden" name="_method" value="DELETE">
                <input class="btn btn-default btn-danger btn-destroy" type="submit" value="Unfollow" data-toggle="Follow">
             <% } else{ %>
                <input class="btn btn-default btn-create" type="submit" value="Follow" data-toggle="Unfollow">
            <% } %>
            <input name="target" type="hidden" value="<%= profile_user._id %>">
            <input name="next" type="hidden" value="<%= path %>">
        </form>
    <% } else{ %>
    </div>
        <div class="col-lg-8">
            <div class="container-pins profile">
                <% activities.forEach(function(activity){ %>
                    <%if (activity.verb == 'Pin') {%>
                        <%- include pin.ejs %>
                    <% } else{ %>
                        <%- include follow.ejs %>
                    <% } %>
                <% }) %>
            </div>
        </div>
     <% } %>
     </div>
</div>